.checkbox-personalized * {
  box-sizing: border-box;
}
.checkbox-personalized input[type=checkbox] {
  display: none;
}
.checkbox-personalized label {
  margin: 0 auto;
  display: block;
  padding: 5px 0;
}
.checkbox-personalized label .check {
  margin: 3px 5px;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  border-radius: 2px;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.checkbox-personalized input[type=checkbox]:checked + label .check {
  background: #1e95fb;
  transition: all 0.2s ease-in;
  border: 1px solid #1e95fb;
}
.checkbox-personalized input[type=checkbox]:checked + label .check:after {
    content: '';
    display: block;
    width: 5px;
    height: 11px;
    border: solid #FFF;
    margin: 2px 7px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.checkbox-personalized input[type=checkbox]:indeterminate + label .check {
  background: #939ba2;
  transition: all 0.2s ease-in;
  border: 1px solid #939ba2;
}
.checkbox-personalized input[type=checkbox]:indeterminate + label .check:after {
  content: '';
  display: block;
  height: 11px;
  border: solid #FFF;
  margin: 2px 7px;
  border-width: 0 2px 0 0;
  transform: rotate(90deg);
}

.custom-select-body-class > tbody > tr > td:first-child {
  padding: 0 !important;
}

.custom-select-header-class > thead > tr > th:first-child {
  padding: 0 !important;
}

.checkbox input[type=checkbox] {
  margin-left: 0;
}
.toggle-view-carret:before {
  font-size: 10px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.2s;
}
.toggle-view-carret.opened:before {
  content: "\25b6";
  transform: rotate(90deg);
}
.toggle-view-carret.closed:before {
  content: "\25b6";
}


.toggle-view {
  display: none;
}
.toggle-view.open {
  display: table-row;
}
.toggle-view td:first-of-type {
  display: none;
}
.toggle-view td {
  padding: 0;
}
.toggle-view td .map-container {
  height: 200px;
  position: relative;
}
.toggle-view td .map-container img.static-map {
  width: 100%;
  min-height: 100%;
  position: absolute;
}
.toggle-view td .map-container.has-reference {
  height: 270px;
}
.toggle-view td .map-container.has-reference .trip-info {
  height: auto;
}
.toggle-view td .map-container.has-reference .trip-info ul li .reference-container strong {
  font-size: 16px;
}
.toggle-view td .map-container.has-reference .trip-info ul li .reference-container p {
  margin: 0;
}
.toggle-view td .map-container .trip-info {
  position: absolute;
  width: 300px;
  height: 165px;
  background-color: #3b3b3b;
  margin: 18px 0px 0 44px;
  border-radius: 4px;
  color: #fff;
  padding: 23px 18px;
}
.toggle-view td .map-container .trip-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.toggle-view td .map-container .trip-info ul li .icon {
  margin-top: 3px;
}
.toggle-view td .map-container .trip-info ul li .icon img {
  width: 14px;
  height: 19px;
}
.toggle-view td .map-container .trip-info ul li .timeaddress strong {
  font-size: 16px;
}
.toggle-view td .map-container .trip-info ul li .timeaddress p {
  font-size: 14px;
  overflow: hidden;
  height: 35px;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}
